@namespace "http://dzonny.cz/xml/ildoc";
ildoc{
	display:block;
	color:Black;
	background-color:White;
	font-family:serif;
	padding:0 12pt 12pt 12pt;
}
section{display:block;}
header{
	display:block;
	font-family:sans-serif;
	font-weight:bold;
	margin-top:12pt;
}
ildoc > header{
	font-size:225%;
	margin-bottom:12pt;
	text-align:center;
}
ildoc > formatting > header, ildoc > section > header {font-size:200%;}
ildoc > section > section > header {font-size:175%;}
ildoc > section > section > section > header {font-size:150%;}
ildoc > section > section > section > section > header {font-size:125%;}
section > section > header {padding-left:0;}
section > section > * {padding-left:32pt;}
section > section > dl{padding-left:56pt;}
introduction{
	display:block;
	text-align:justify;
	margin-bottom:12pt;
}
p{
    display:block;
    text-align:justify;
}
dl{
	display:block;
	padding-left:24pt;
   }
dt,dt-code,dt-var,dt-ref,dt-code-ref{
	display:block;
}
dd{
	display:block;
	padding-left:24pt;
}
dd[rel="summary"]{
     padding-left:18pt;
 }
code, dt-code, dt-code-ref, code-ref,
syntax,
see{
	font-family:monospace;
}
dt-code-ref, code-ref, ref, dt-ref, code-ref{
	font-style:italic;
}
ref, dt-ref{
	font-family:serif;
}
header + *{
	margin-top:12pt;
}
ref[ref], dt-ref[ref],
link, internal-link, see{
	cursor:pointer;
}
code-ref[ref]:hover, ref[ref]:hover, 
link, internal-link, see{
	color:Blue;
	text-decoration:underline;
}
b{font-weight:bold;}
break{
	display:block;
	border-top:solid Gray thin;
}
ms-specific, section[special='ms-specific']{
    background-color:Aqua;
}
ms-specific:after, section[special='ms-specific'] > header:after{
    content:"*";
    font-family:serif;
    font-weight:normal;
    color:Black;
    text-decoration:none;
    background-color:white;
}
section[special='ms-specific'] > header:after{
    color:inherit;
    background-color:inherit;
}
undocumented, section[special='undocumented']{
    background-color:Gray;
}
see:empty:after{
    content:attr(cref);
}
code-ref, dt-code-ref, code ref, ref code, dt-code ref, dt-ref code{
	font-style:italic;
	font-family:monospace;
}
syntax{display:block; text-align:left;}

example{ 
    display:block;
    background-color:#DDDDDD;
    padding:4pt;
 }
 example > title{
     display:block;
     font-weight:bold;
     border-bottom:solid medium Gray;
     text-align:left;
 }
 code-ml{
     display:block;
     font-family:monospace;
     text-align:left;
     white-space:pre;
     max-width:100%;
     overflow-x:auto;
 }
 dl > example{
     margin-left:24pt;
 }
r{
    font-size:10pt;
    font-family:sans-serif;
    font-style:normal;
} 
r:before{content:"(";}
r:after{content:")";}
header > r,
dd > r, dd-code > r, dd-ref > r, dd-code-rer > r,
dt > r:last-child, dt > r:first-child,
p > r:first-child, p > r:last-child,
title > r:first-child, title > r:last-child,
introduction > r:first-child, introduction > r:last-child,
*[r]:before{
    float:right;
}
*[r]:before{
    content:"(" attr(r) ")";
}

table{
    display:table;
    border-collapse:collapse;
    empty-cells:show;
    border:solid Black thick;
}
table > header{
    display:table-header-group;
    border-bottom:solid Black medium;
}
table > row{
    display:table-row;
    border-top:solid Black thin;
    border-bottom:solid Black thin;
}
table > row:hover{
    background-color:Yellow;
}
table > row > c, table > header > c {
    display:table-cell;
    border:solid thin Black;
    padding:0 .5ex 0 .5ex;
} 
table > header > c{
    text-align:center;
    font-family:sans-serif;
    font-weight:bold;
}
