.vs

.svn

*.user

obj
bin
*.suo
ipch
/Tools.Hardcore/Debug
~$*.xlsx
/Tools.sdf
/UpgradeLog.htm
*.opensdf
*.tmp_proj
*/NuGet/*.nupkg
/Tools.Hardcore/Debug
/Tools.Hardcore/Release
/packages
*.opendb
/TestResults
*.jfm
