<?xml version="1.0"?>
<!--Test-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tools.Tests.ComponentModel.SettingsAttributesTestSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Tools.Tests.ComponentModel.SettingsAttributes" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Tools.Tests.SettingsAttributes" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Tools.Tests.ComponentModel.SettingsAttributesTestSettings>
            <setting name="TestSetting1" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="TestSetting2" serializeAs="String">
                <value>14, 23</value>
            </setting>
            <setting name="TestSetting3" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>First value</string>
                        <string>Second value</string>
                        <string>Third value</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Tools.Tests.ComponentModel.SettingsAttributesTestSettings>
        <Tools.Tests.ComponentModel.SettingsAttributes>
            <setting name="TestSetting1" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="TestSetting2" serializeAs="String">
                <value>14, 23</value>
            </setting>
        </Tools.Tests.ComponentModel.SettingsAttributes>
        <Tools.Tests.SettingsAttributes>
            <setting name="TestSetting1" serializeAs="String">
                <value>Test default value</value>
            </setting>
            <setting name="TestSetting2" serializeAs="String">
                <value>14, 25</value>
            </setting>
        </Tools.Tests.SettingsAttributes>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
