<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dzonny.UnicodeScreenSaver.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Dzonny.UnicodeScreenSaver.MySettings>
            <setting name="Interval" serializeAs="String">
                <value>00:00:05</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>Unicode composite font</value>
            </setting>
            <setting name="FontPath" serializeAs="String">
                <value>pack://application:,,,/</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="ForegroundColor" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
        </Dzonny.UnicodeScreenSaver.MySettings>
    </userSettings>
</configuration>
