<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Tools.Hardcore" version="1.5.4.50001" targetFramework="net46" />
  <package id="Tools.Main" version="1.5.4.50001" targetFramework="net46" />
  <package id="Tools.Runtime.CompilerServices" version="1.5.4.50001" targetFramework="net46" />
  <package id="Tools.Text.Unicode" version="1.5.4.50001" targetFramework="net46" />
  <package id="Tools.Win" version="1.5.4.50001" targetFramework="net46" />
  <package id="Tools.Windows" version="1.5.4.50001" targetFramework="net46" />
</packages>