<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tools.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Tools.My.MySettings.dbconfigConnectionString" connectionString="Server=172.27.10.15;User Id=myitik;Password=kiti5000;Persist Security Info=True;Database=dbconfig;allow batch=True" providerName="MySql.Data.MySqlClient"/>
        <add name="Tools.My.MySettings.OracleLogin" connectionString="Data Source=//172.27.10.22/KOLLECTO;Persist Security Info=True;User ID=config;Password=config;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="Tools.My.MySettings.ConnectionString" connectionString="Data Source=//172.27.10.26/KOLLECTO;Persist Security Info=True;User ID=import;Password=import;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="Tools.My.MySettings.ConnectionString1" connectionString="Data Source=//172.27.10.26/KOLLECTO;Persist Security Info=True;User ID=config;Password=config;Unicode=True" providerName="System.Data.OracleClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <applicationSettings>
        <Tools.My.MySettings>
            <setting name="ADPath" serializeAs="String">
                <value>LDAP://EOSKSICZ.NET</value>
            </setting>
            <setting name="ADDefaultDomain" serializeAs="String">
                <value>EOSKSICZ.NET</value>
            </setting>
            <setting name="ADDeletedUserDistinguishedNameSubstring" serializeAs="String">
                <value>OU=Morgue</value>
            </setting>
        </Tools.My.MySettings>
    </applicationSettings>
</configuration>
