<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Metanol.SSaver.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Metanol.SSaver.My.MySettings>
            <setting name="InfoText" serializeAs="String">
                <value>&lt;Sys:FileNameWO:{0}&gt;&lt;Exif:DateTimeDigitized: {0}&gt;
&lt;IPTC:ObjectName:{0}
&gt;&lt;IPTC:CountryPrimaryLocationCode:{0}, &gt;&lt;IPTC:ProvinceState:{0}, &gt;&lt;IPTC:City:{0}, &gt;&lt;IPTC:SubLocation:{0}&gt;</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="Mask" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*.jpeg</string>
                        <string>*.jpg</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Timer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Arial, 9.75pt</value>
            </setting>
            <setting name="BgColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FgColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="InfoBgColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="InfoAlign" serializeAs="String">
                <value>TopLeft</value>
            </setting>
        </Metanol.SSaver.My.MySettings>
    </userSettings>
</configuration>
