<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tools.Metanol.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tools.Metanol.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Tools.Metanol.My.MySettings.MetanolConnectionString"
            connectionString="Data Source=.\SQLEXPRESS2008;AttachDbFilename=|DataDirectory|\Database\Metanol.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Tools.Metanol.My.MySettings>
            <setting name="Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ThumbSize" serializeAs="String">
                <value>64, 64</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>736, 532</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="BrowserSplitter" serializeAs="String">
                <value>143</value>
            </setting>
            <setting name="MainSplitter" serializeAs="String">
                <value>231</value>
            </setting>
            <setting name="LargeSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="LargePosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LargeState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LargeShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LargeFloating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviewHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KeywordsHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TextHeight" serializeAs="String">
                <value>179</value>
            </setting>
            <setting name="Keywords" serializeAs="Xml">
                <value>
                    <Keywords xmlns="http://dzonny.cz/xml/Tools.WindowsT.FormsT.KeyWordsEditor" />
                </value>
            </setting>
            <setting name="LargeFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TCBehavior" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IptcUtf8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreIptcLengthConstraints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportChecked" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="GpsHeight" serializeAs="String">
                <value>400</value>
            </setting>
        </Tools.Metanol.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <Tools.Metanol.My.MySettings>
            <setting name="GoogleMapsUrlTemplateSmall" serializeAs="String">
                <value>https://www.google.com/maps/embed/v1/place?q={0:f},{1:f}&amp;key={2}</value>
            </setting>
            <setting name="OpenStreetMapUrlTemplate" serializeAs="String">
                <value>http://www.openstreetmap.org/?mlat={0:f}&amp;mlon={1:f}&amp;zoom=15</value>
            </setting>
            <setting name="GeoHackUrlTemplate" serializeAs="String">
                <value>http://toolserver.org/~geohack/geohack.php?language=en&amp;params={0:d.00_m.00_s.00_a}_{1:d.00_m.00_s.00_o}</value>
            </setting>
            <setting name="GoogleMapsAPIKey" serializeAs="String">
                <value>AIzaSyBpHMzvHZ-Fo0iW2BTmxPi2zQmRsY6ep4k</value>
            </setting>
            <setting name="GoogleMapsUrlTemplateSmallFull" serializeAs="String">
                <value>https://maps.google.com/maps?q={0:f},{1:f}&amp;z=15</value>
            </setting>
            <setting name="GoogleMapsHtmlTemplate" serializeAs="String">
                <value>&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Google Maps&lt;/title&gt;
&lt;style type="text/css"&gt;
* {{margin:0; padding 0;}}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;iframe src="{0}" width="100%" height="100%" frameborder="0"
&gt;&lt;/iframe&gt;
&lt;/body&gt;&lt;/html&gt;</value>
            </setting>
        </Tools.Metanol.My.MySettings>
    </applicationSettings>
</configuration>
